/* Bai Jamjuree Font Family */

@font-face {
  font-family: "Bai Jamjuree";
  src: url("../assets/fonts/bai-jamjuree-regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Bai Jamjuree";
  src: url("../assets/fonts/bai-jamjuree-italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Bai Jamjuree";
  src: url("../assets/fonts/bai-jamjuree-extra-light.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Bai Jamjuree";
  src: url("../assets/fonts/bai-jamjuree-extra-light-italic.ttf") format("truetype");
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Bai Jamjuree";
  src: url("../assets/fonts/bai-jamjuree-light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Bai Jamjuree";
  src: url("../assets/fonts/bai-jamjuree-light-italic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Bai Jamjuree";
  src: url("../assets/fonts/bai-jamjuree-medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Bai Jamjuree";
  src: url("../assets/fonts/bai-jamjuree-medium-italic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Bai Jamjuree";
  src: url("../assets/fonts/bai-jamjuree-semi-bold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Bai Jamjuree";
  src: url("../assets/fonts/bai-jamjuree-semi-bold-italic.ttf") format("truetype");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Bai Jamjuree";
  src: url("../assets/fonts/bai-jamjuree-bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Bai Jamjuree";
  src: url("../assets/fonts/bai-jamjuree-bold-italic.ttf") format("truetype");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}
